/* CSS for Alec's Technology Store website */

body {                                /* Basic styling for the body of the page */
    font-family: Arial;
    background-color: #f2f2f2;
}


#header { 
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
}


#siteTitle {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 28px;
}


#nav {
    background-color: white;
    text-align: center;
    padding: 10px;
}


.space {
    margin-left: 40px;
}


table {                         /* w3schools.com/html/html_tables.asp */
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

td {                              /*table cell styling */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.thumb {
    width: 100px;
}

.thumb img {
    width: 100%;
}


.contentBox {
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
}


.bigTitle {                         /* Styling for the big title of the item */
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}